body {
  background-image: url("./background.jpg");
  background-size: 3000px;
  padding: 50px;
  height: 2000px;
  color: white;
}

p {
  font-family: 'Work Sans', sans-serif;  
}

h1 {
  font-family: 'Work Sans', sans-serif;  
}

h2 {
  font-family: 'Work Sans', sans-serif;  
}

h3 {
  font-family: 'Work Sans', sans-serif;  
}

header {
  font-family: 'Work Sans', sans-serif;  
}

address {
  font-family: 'Work Sans', sans-serif;  
}