.link {
  font-family: 'Work Sans', sans-serif;  
  font-size: 70px;
  color: white;
  margin-top: 10px;
  margin-bottom: 100px;
  margin-right: 7%;
  background-color: transparent;
  border-style: none;
}