#about {
  position: absolute;
  display: block;
  text-align: left;
  top: 10%;
  left: 15%;
  width: 50%;
  font-size: 30px;
}

.profile {
  border-radius: 100%;
  width: 300px;
  margin-bottom: 10px;
}
