body, html { 
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}


* {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

/* 
App Styling
*/
.app-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  width: 100vw;
  height: 100%;
  height: 100vw;
  background-color: #808080; 
  scroll-behavior: smooth;
}
/* 
Nav Styling
*/
.nav {
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: center;
  flex: 1;
  width: 100%;
  background-color: #A3BFC6;
}
.nav ul {
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: center;
  flex: 1;

}

.nav ul li {
  position: relative;
  padding-top:35px;
  flex: 1;
  list-style-type: none;
  text-align: center;
  justify-items: center;
  font-size: 30px;
  background-repeat: no-repeat;
  background-position-x: center;
}

@keyframes li-hover {
  0% { 
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  } 
}

.nav ul li:hover {
  animation: 2s ease li-hover 0s 1;
  transform-origin: center;
  transform-box: fill-box;
}


@keyframes nav-slide-down {
  0% { 
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  } 
}
.menu {
  margin: 0;
  padding: 10px;
  width: 100%;
  background-color: #A3BFC6;
  text-align: center;
  justify-items: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  /* animation: 2s ease nav-slide-down 0s 1;
  transform-origin: top;
  transform-box: fill-box; */
}

.menu span {
  flex: 1;
}

.menu a {
  flex: 1.75;
  position: relative;
  display: inline-block;
  padding: 10px 0px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  transition: 0.2s;
}

/* .menu a:hover {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 1s;
} */

.menu a span {
  position: absolute;
  display: block;
  text-align: center;
}

@keyframes slide-right {
  from {left: -100%;}
  to {left: 100%;}
}

@keyframes slide-down {
  from {top: -100%;}
  to {top: 100%;}
}

@keyframes slide-left {
  from {right: -100%;}
  to {right: 100%;}
}

@keyframes slide-up {
  from {bottom: -100%;}
  to {bottom: 100%;}
}

.menu a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3) ;
}

.menu a:hover span:nth-child(1) {
  animation: slide-right;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.menu a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3) ;
}

.menu a:hover span:nth-child(2) {
  animation: slide-down;
  animation-delay: 0.25s;
  animation-duration: 1s;  animation-iteration-count: infinite;
}

.menu a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3) ;
}

.menu a:hover span:nth-child(3) {
  animation: slide-left;
  animation-delay: 0.5s;
  animation-duration: 1s;  animation-iteration-count: infinite;
}

.menu a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2196f3) ;
}

.menu a:hover span:nth-child(4) {
  animation: slide-up;
  animation-delay: .75s;
  animation-duration: 1s;  
  animation-iteration-count: infinite;
}
@keyframes slide-background {
  from {transform: translateX(-1400px)}
  to {transform: translateX(0px)}
}

.home {
  
}

.home-details {
}

@keyframes slide-p-1 {
  from {transform: translateX(-500px)}
  to {transform: translateX(0px)}
}

@keyframes slide-p-2 {
  from {transform: translateX(-1000px)}
  to {transform: translateX(0px)}
}

@keyframes slide-p-3 {
  from {transform: translateX(-1500px)}
  to {transform: translateX(0px)}
}

@keyframes slide-p-4 {
  from {transform: translateX(-3000px)}
  to {transform: translateX(0px)}
}

@keyframes slide-p-5 {
  from {transform: translateX(-4500px)}
  to {transform: translateX(0px)}
}

@keyframes slide-p-6 {
  from {transform: translateX(-6000px)}
  to {transform: translateX(0px)}
}

@keyframes slide-p-7 {
  from {transform: translateX(-7500px)}
  to {transform: translateX(0px)}
}

.home-details p:nth-child(1), .home-details p:nth-child(2), .home-details p:nth-child(3), .home-details p:nth-child(4), .home-details p:nth-child(5), .home-details p:nth-child(6), .home-details p:nth-child(7)  {
  font-weight: 100;
}

.home-details p:nth-child(1) {
  font-size: 60px;
  line-height: 80px;
  padding-left: 0px;
  animation: slide-p-1;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.home-details p:nth-child(2) {
  font-size: 90px;
  line-height: 80px;
  padding-left: 0px;
  margin-top: 10px;
  animation: slide-p-2;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
 
}

.home-details p:nth-child(3) {
    font-size: 40px;
    padding-top: 100px;;
  animation: slide-p-3;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.home-details p:nth-child(4) {
  font-size: 50px;
  padding-left: 0px;
  animation: slide-p-4;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}


.home-details p:nth-child(5) {
  font-size: 40px;
  padding-left: 0px;
  animation: slide-p-5;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}


.home-details p:nth-child(6) {
  padding-left: 0px;
  animation: slide-p-6;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}


.home-details p:nth-child(7) {
  padding-left: 0px;
  animation: slide-p-7;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}
.home-details{
  position: absolute;
  left: 280px;
  top: 250px;
  width: 900px;
  height: 300px;
  border-radius: 20px;
  padding: 20px;
}



/* ***** ABOUT SECTION ***** */
/* ***** ABOUT SECTION ***** */
/* ***** ABOUT SECTION ***** */
/* ***** ABOUT SECTION ***** */
.about {

}

.about-details{
  position: absolute;
  left: 280px;
  top: 250px;
  width: 900px;
  height: 300px;
  border-radius: 20px;
  padding: 20px;
}

@keyframes slide-h1 {
  from {transform: translateX(-1400px)}
  to {transform: translateX(0px)}
}


.about-details h1 {
  margin-top: 15px;
  
  animation: slide-h1;
  animation-delay: 0.2s;
  animation-duration: 1.25s;
  animation-iteration-count: 1;
}

@keyframes slide-p {
  from {transform: translateX(-1400px)}
  to {transform: translateX(0px)}
}

.about-details p {
  margin-top: 15px;
  animation: slide-p;
  animation-delay: 0.4s;
  animation-duration: 1.25s;
  animation-iteration-count: 1;
}


/* ***** ABOUT SECTION ***** */
/* ***** ABOUT SECTION ***** */
/* ***** ABOUT SECTION ***** */
/* ***** ABOUT SECTION ***** */












@keyframes scale {
  from {transform: scale(1)}
  to {transform: scale(5)}
}

@keyframes scale-man {
  0% {transform: scale(0)}
  50% {transform: scale(0)}
  100% {transform: scale(1)}
}

@keyframes slide-planets1 {
  from {transform: translateX(-10000px)}
  to {transform: translateX(0px)}
}

@keyframes slide-planets2 {
  from {transform: translateX(-9000px)}
  to {transform: translateX(0px)}
}

@keyframes slide-planets3 {
  from {transform: translateX(-8000px)}
  to {transform: translateX(0px)}
}

@keyframes slide-planets4 {
  from {transform: translateX(-7000px)}
  to {transform: translateX(0px)}
}

@keyframes slide-planets5 {
  from {transform: translateX(-6000px)}
  to {transform: translateX(0px)}
}

@keyframes slide-planets6 {
  from {transform: translateX(-5000px)}
  to {transform: translateX(0px)}
}

@keyframes slide-planets7 {
  from {transform: translateX(-4000px)}
  to {transform: translateX(0px)}
}

@keyframes slide-planets8 {
  from {transform: translateX(-3000px)}
  to {transform: translateX(0px)}
}

@keyframes slide-planets9 {
  from {transform: translateX(-2000px)}
  to {transform: translateX(0px)}
}



@keyframes scale-pulse {
  0% {transform: translate(0px, 0px)}
  50% {transform: translate(100px, 100px)}
  100% {transform: translate(0px, 0px)}
}


@keyframes slide-planets-down {
  from {transform: translateY(-80px)}
  to {transform: translateY(0px)}
}

@keyframes planet-scale-in {
  0% {transform: translate(0px, 0px)}
  100% {transform: translate(200px, 0px)}
}

@keyframes planet-preview {
  0% {transform: translate(0px, -140px)}
  100% {transform: translate(0px, 0px)}
}

@keyframes planet-scale{
  0% {transform: scale(0)}
  100% {transform: scale(4)}
}

#LV-426 {
  animation: planet-scale;
  animation-delay: 0s;
  animation-duration: 6s;
  animation-iteration-count: 1;
  transform-origin: bottom;
  transform-box: fill-box;
  transform: scale(4);
}
#sun, #earth, #triple, #saturn {
  transform: translate(0px, -140px);
}

#sun-preview, #earth-preview, #triple-preview, #saturn-preview {
  animation: planet-preview;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  transform: translate(0px, 0px);
  transform-origin: bottom;
  transform-box: fill-box;
}


#sun-active, #earth-active, #triple-active, #saturn-active {
  animation: planet-scale-in;
  animation-delay: 0s;
  animation-duration: 4.5s;
  animation-iteration-count: 1;
  transform: scale(20);
  transform: translate(200px, 0px);
  transform-origin: bottom;
  transform-box: fill-box;
}



/* #triple-1, #earth {
  animation: slide-planets-down;
  animation-delay: 0s;
  animation-duration: 4.5s;
  animation-iteration-count: 1;
  transform-origin: bottom;
  transform-box: fill-box;
}

#triple-2, #sun {
  animation: slide-planets-down;
  animation-delay: 0s;
  animation-duration: 4.5s;
  animation-iteration-count: 1;
  transform-origin: bottom;
  transform-box: fill-box;
}

#triple, #saturn {
  animation: slide-planets-down;
  animation-delay: 0s;
  animation-duration: 4.5s;
  animation-iteration-count: 1;
  transform-origin: bottom;
  transform-box: fill-box;
}

#triple {
  animation: slide-planets-down;
  animation-delay: 0s;
  animation-duration: 4.5s;
  animation-iteration-count: 1;
  transform-origin: bottom;
  transform-box: fill-box;
} */

#mars {
  animation: slide-planets7;
  animation-delay: 0s;
  animation-duration: 4.5s;
  animation-iteration-count: 1;
  transform-origin: bottom;
  transform-box: fill-box;
}

#astroids {
  animation: slide-planets8;
  animation-delay: 0s;
  animation-duration: 4.5s;
  animation-iteration-count: 1;
  transform-origin: bottom;
  transform-box: fill-box;
}


#neptune {
  animation: slide-planets8;
  animation-delay: 0s;
  animation-duration: 4.5s;
  animation-iteration-count: 1;
  transform-origin: bottom;
  transform-box: fill-box;
}



/* #man {
  animation: slide-planets;
  animation-delay: 0s;
  animation-duration: 13s;
  animation-iteration-count: 1;
  transform-origin: bottom;
    transform-box: fill-box;
}

#saturn {
  animation: slide-planets;
  animation-delay: 0s;
  animation-duration: 12s;
  animation-iteration-count: 1;
  transform-origin: bottom;
    transform-box: fill-box;
}

#sun{
  animation: slide-planets;
  animation-delay: 0s;
  animation-duration: 5s;
  animation-iteration-count: 1;
  transform-origin: bottom;
    transform-box: fill-box;
}

#mars {
  animation: slide-planets;
  animation-delay: 0s;
  animation-duration: 12s;
  animation-iteration-count: 1;
  transform-origin: bottom;
    transform-box: fill-box;
}

#triple-1 {
  animation: slide-planets;
  animation-delay: 0s;
  animation-duration: 14s;
  animation-iteration-count: 1;
  transform-origin: bottom;
    transform-box: fill-box;
}


#triple-2 {
  animation: slide-planets;
  animation-delay: 0s;
  animation-duration: 4.5s;
  animation-iteration-count: 1;
  transform-origin: bottom;
    transform-box: fill-box;
}


#triple-3 {
  animation: slide-planets;
  animation-delay: 0s;
  animation-duration: 8s;
  animation-iteration-count: 1;
  transform-origin: bottom;
    transform-box: fill-box;
}

#Neptune {
  animation: slide-planets;
  animation-delay: 0s;
  animation-duration: 8s;
  animation-iteration-count: 1;
  transform-origin: bottom;
    transform-box: fill-box;
} */
