body, html{
  margin:0;
  font-weight:400;
  color:rgb(50, 49, 49);
}


.main {
  
  height: 5000px;
  margin:0;
}

.pimg1, .pimg2, .pimg3 {
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.pimg1 {
  background-image:url('../img/image1.jpg');
  min-height: 33%;
}


.pimg2 {
  background-image:url('../img/image2.jpg');
  min-height: 33%;
}

.pimg3 {
  background-image:url('../img/image3.jpg');
  min-height: 33%;
}

.section {
  font-family: 'IBM Plex Sans', sans-serif;
  text-justify: center;
  text-align: center;
  padding: 80px 120px;
  min-height: 7%;
  font-size: 30px;
  line-height: 45px;
}

.section-light{
  background-color: #f4f4f4;
  color:rgb(0, 0, 0);
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.welcome {
  position: relative;
  top: -400px;
  left: 0%;
  font-size: 70px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight:280;
  color:rgb(0, 0, 0);
  line-height: 80px;
  padding: 20px;
}

.twentyFourtyEightBtn h6 {
  position: relative;
  top: -100px;
  font-size: 30px;
  font-family: 'Press Start 2P', cursive;
  text-decoration: underline;
}

.twentyFourtyEightBtn span {
  position: relative;
  top: -100px;
  font-size: 30px;
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
}

.twentyFourtyEightBtn span:hover {
  position: relative;
  top: -100px;
  font-size: 30px;
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
  color: tomato;
  transition: 1s;
}

.simpleModal {
  display: flex;
  position: absolute;
  width:150px;
  height: 1000px;
  background-color: white;
}