@keyframes slideInFromRightTabOpen{
  0% {
    transform: translateX(-1420px);
  }
  100% {
    transform: translateY(0px);
  }
}

.contact {
  position: relative;
  display: block;
  top: 10%;
  left: 5%;
  width: 75%;
  margin: 25px;
  padding: 30px;
  background-color: white;
  border-style: solid;
  border-color: tomato;
  border-radius: 15px;
  animation: 2s ease-in-out 0s 1 slideInFromRightTabOpen;
}

.send{
  margin:10px;
  border-radius: 10px;
  width: 185px;
  height: 35px;
}

.linkedin {
  border-radius: 5px;
  margin-top: 25px;
  padding: 15px;
  width: 40px;
}
.github {
  border-radius: 5px;
  margin-top: 0px;
  padding: 0px;
  width: 40px;
}


.text {
  margin: 50px;
  color: black;
}