


body, html{
    margin: 0;
    padding: 0;
    width:100vw;
    height: 100vh;
    background-color: #A3BFC6;
  }
  
  
  @keyframes fade-in {
    0% { 
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes slide-out {
    0% { 
      transform: translateY(0px)
    }
    100% {
      transform: translateY(-295px)
    }
  }
  
  @keyframes slide-in {
    0% { 
      transform: translateY(1100px)
    }
    100% {
      transform: translateY(0px)
    }
  }
  
  @keyframes spinner {
    0% { 
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes swing {
    0% { 
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(-10deg);
    }
  }
  
  
  @keyframes swing-leg-1 {
    0% { 
      transform: rotate(-35deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(-35deg);
    }
  }
  
  
  
  @keyframes swing-leg-2 {
    0% { 
      transform: rotate(-40deg)
    }
    50% {
      transform: rotate(20deg);
    }
    100% {
      transform: rotate(-40deg);
    }
  }
  
  
  #tire {
    animation: 3s ease-in-out 0s 10 spinner;
    transform-origin: center;
    transform-box: fill-box
  }
  
  
  #swing {
    position: relative;
    animation: 3s ease-in-out 0s 10 swing;
    transform-origin: top;
    transform-box: fill-box;
    -webkit-animation: 3s ease-in-out 0s 10 swing;
  }
  
  #leg-1{
    animation: 3s ease-in-out 0s 10 swing-leg-1;
    animation-delay: 0.7s;
    transform-origin: top;
    transform-box: fill-box
  }
  
  #leg-2{
    animation: 3s ease-in-out 0s 10 swing-leg-2;
    transform-origin: top;
    transform-box: fill-box
  }
  
  
  @keyframes rocket-liftoff{
    0% { 
      transform: translateY(500px)
    }
    5% {
      transform: translateY(20px)
    }
    10% {
      transform: translateY(20px)
    }
    15% {
      transform: translateY(-50px)
    }
    30% {
      transform: scale(1);
    }
    99% {
      transform: scale(4);
    }
    100% {
      transform: translateY(-120px)
    }
  }
  
  @keyframes building-slide-in{
    0% {
      transform: scale(1);
    }
    30% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
  }
  
  @keyframes slide-lines {
    0% { 
      transform: translate(1000px,-1000px);
    }
    50% {
      transform: scale(0.9)
    }
    100% {
      transform: translate(0,0)
    }
  }
  
  
  @keyframes scale-in-moon {
    0% { 
      transform: scale(0.5)
    }
    10% {
      transform: scale(0.5)
    }
    100% {
      transform: scale(2)
    }
  }
  
  @keyframes slide-down-cloud-1 {
    0% { 
      transform: translateY(-570px);
    }
    50% { 
      transform: translateY(-570px);
    }
    100% {
      transform: translateY(700px);
    }
  }
  
  @keyframes slide-down-cloud-2 {
    0% { 
      transform: translateY(-600px);
    }
    50% { 
      transform: translateY(-600px);
    }
    100% {
      transform: translateY(700px);
    }
  }
  
  @keyframes slide-down-cloud-3 {
    0% { 
      transform: translateY(-550px);
    }
    50% { 
      transform: translateY(-550px);
    }
    100% {
      transform: translateY(700px);
    }
  }
  
  @keyframes slide-stars {
    0% { 
      transform: scale(1)
    }
    5% { 
      transform: scale(1)
    }
    100% {
      transform: scale(5)
    }
  }
  
  #cloud01, #cloud02, #cloud03 {
    animation: 20s ease slide-down-cloud-1  0s 100;
    transform-origin: center;
    transform-box: fill-box
  }
  
  #cloud04, #cloud05, #cloud06, #cloud07{
    animation: 20s ease slide-down-cloud-2  0s 100;
    transform-origin: center;
    transform-box: fill-box
  }
  
  
  #cloud08, #cloud09, #cloud10, #cloud11 {
    animation: 20s ease slide-down-cloud-3  0s 100;
    transform-origin: center;
    transform-box: fill-box
  }
  
  
  
  
  #stars {
    animation: 120s ease slide-stars 0s 1;
  }
  #lines {
    animation: 120s ease slide-lines 0s 1;
    transform-origin: center;
    transform-box: fill-box
  }
  
  #moon {
    animation: 60s ease scale-in-moon  0s 1;
    transform-origin: center;
    transform-box: fill-box
  }
  
  #building {
      animation: 60s ease building-slide-in 0s 1;
      animation-delay: 5s;
      transform-origin: bottom;
      transform-box: fill-box
  }
  
  #rocket {
      animation: 60s ease rocket-liftoff 0s 1;
      transform-origin: top;
      transform-box: fill-box
  }
  
  .main-loader {
    height: 3500px;
    margin:0;
  }
  
  .loader {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -200px;
    width:100%;
    min-height: 30%;
    margin:0;
    background-color: #242f3f;
    animation: slide-out 2s cubic-bezier(0.42,0,1,1);
    animation-delay: 5s;
  }
  
  .loader-logo {
    position: relative;
    width: 65pt;
    height: 70pt;
    top: -50px;
    opacity: 1;
    animation: 1s ease-in 0s 4 spinner;
  }
  
  .main-app {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3500px;
    margin:0;
  }
  
  .playground {
    margin-left: auto;
    margin-right: auto;
  }
  
  .ptext {
    position: absolute;
    top:2%;
    width: 100%;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 200;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: black;
    animation: slide-in 4.5s ease;
  }
  
  .pimg1, .pimg2, .pimg3 {
    position: relative;
    opacity: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: slide-in 3s cubic-bezier(0.25,0.1,0.25,1);
    
  }
  
  
  .pimg1 {
    background-image:url('../img/image1.jpg');
    min-height: 40%;
  }
  
  
  .pimg2 {
    background-image:url('../img/image2.jpg');
    min-height: 40%;
  }
  
  .pimg3 {
    background-image:url('../img/image3.jpg');
    min-height: 40%;
  }
  
  .section {
    font-family: 'IBM Plex Sans', sans-serif;
    text-justify: center;
    text-align: center;
    padding: 80px 120px;
    min-height: 7%;
    font-size: 30px;
    line-height: 45px;
  }
  
  .section-light{
    height: 1100px;
    background-color: grey;
    color:rgb(0, 0, 0);
    transition: 5s;
  }
  
  .section-dark {
    height: 1000px;
    background-color: #282e34;
    color: #ddd;
    background-image: url("../img/arcade.jpg");
    background-size: 100%;
  }
  
  
  .twentyFourtyEightBtn h6 {
    position: relative;
    top: 500px;
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
    text-decoration: underline;
  }
  
  
  .twentyFourtyEightBtn span {
    position: relative;
    top: 500px;
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
    
  }
  
  .twentyFourtyEightBtn span:hover {
    position: relative;
    top: 500px;
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
    color: tomato;
    transition: 1s;
    /* transform: scale(0.1, 0.1);; */
  }
  .modal {
    display: flex;
    margin-left: auto;
    margin-right: 30px;
    margin-top: 520px;
    position: absolute;
    width: 100%;
    height: 50%;
    border-radius: 1.5%;
    align-self: center;
    justify-self: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    animation: 1s ease-in-out 0s 1 slideInFromTopTabOpen;
  }
  
  