@keyframes spinner {
    0% { 
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
    } 
}


@keyframes scooter-slide-in {
  0% {
    transform: translateX(-2300px)  ;
}
  100% {
    transform: translateX(0px)  ;
}
}

@keyframes scooter-rider-bounce {
  0% {
    transform: translateY(2px);
  }
  25% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(2px);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(2px)  ;

  }
}



@keyframes scooter-bounce {
  0% {
    transform: translateY(1px);
  }
  25% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(1px);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(1px)  ;

  }
}


@keyframes scooter-rider-hair-bounce {
  0% {
    transform: translateY(-2px);
  }
  25% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(-2px);
  }
  75% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(-2px)  ;

  }
}

#scooter-rider-container {
  animation: 2s ease scooter-rider-bounce 0s 1;
  transform-origin: top;
  transform-box: fill-box;
  }
#package, #vespa {
  animation:scooter-rider-bounce 1.75s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

#vespa {
  animation:scooter-bounce 1.75s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}


#hair {
  animation:scooter-rider-hair-bounce  1.75s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

#wheel-left {
  animation:spinner 1.75s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
  -webkit-animation:spinner 1.75s infinite linear;
  }

#wheel-right{
  animation:spinner 1.25s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
  }